<div class="page-header" style="margin-right: 10%;border-bottom: solid #FFFFFF">
    <h2> User Admin</h2>
</div>
<ul class="nav nav-pills" style="border-bottom: 3px solid #eee; margin-right:9%" role="tablist">
    <li role="presentation" class="active">
        <a href="#">User list</a>
    </li>
    <li role="presentation" >
        <a href="#"> Add user</a>
    </li>
    <li role="presentation" >
        <a href="#"> User search</a>
    </li>

</ul>
<div class="row">
    <div class="col-md-12">

        <br />
    </div>
</div>
<div class="row">
    <div class="table-responsive" style="border-bottom: 1px; margin-left: 1%; margin-right: 10%">
        <table class="table">
            <thead>
            <tr>
                <th>S.No.</th>
                <th>UserName</th>
                <th>Skill</th>
                <th>Project</th>
                <th>Admin</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let userData of UserList  ; let i = index; trackBy: userId">
                <td>{{i+1}}</td>
                <td>{{userData.Username}}</td>
                <td>{{userData.Skill}}</td>
                <td>{{userData.Project}}</td>
                <td>{{userData.admin}}</td>
                <td>{{userData.Password}}</td>
                <td>
                    <a [routerLink]="['/details/',userData._id]" class="btn btn-primary" (click)="getUser(userData.Username)">Detail</a>
                    <a [routerLink]="['/edit/',userData._id]" class="btn btn-success">Edit</a>
                    <a class="btn btn-danger" (click)="deleteUser(userData._id)">Delete</a>
                </td>
            </tr>

        </table>
    </div>
</div>
