<div class="page-header" style="margin-right: 10%;border-bottom: solid #FFFFFF">
    <h2> Gateway Detail</h2>
</div>
<div class="col-md-12">
    <div>
        <h3 style="border-bottom: 1px solid;margin-right: 15%">40 Server</h3>
        <button (click)="clicklogin40()" class="btn btn-lg btn-info" style="margin:0 0 1% 0" >login</button>
        <button (click)="clickallconnectunit40()" [disabled]="!loggedin40" class="btn btn-lg btn-default" style="margin:0 0 1% 1%">All connect units</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="table-responsive" style="border-bottom: 1px; margin-left: 3%; margin-right: 17%" [hidden]="!showunits40form">
        <table class="table">
            <thead>
            <tr>
                <th>S.No.</th>
                <th>Unit ID</th>
                <th>Label</th>
                <th>Cluster</th>
                <th>Status</th>
                <th>Owner</th>

                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let userData of allcnntdunitlist  ; let i = index; trackBy: userId">
                <td>{{i+1}}</td>
                <td>{{userData.unitId}}</td>
                <td>{{userData.label}}</td>
                <td>{{userData.cluster}}</td>
                <td>{{userData.status}}</td>
                <td>{{userData.owner}}</td>

                <td>
                    <a [routerLink]="['/userDetails/',userData.Username]" [queryParams]="{username:userData.Username}" class="btn btn-primary">Detail</a>
                    <a [routerLink]="['/edit/',userData.Username]" class="btn btn-success">Edit</a>
                    <a class="btn btn-danger" (click)="deleteUser(userData._id)">Delete</a>
                </td>
            </tr>

        </table>
    </div>
</div>
<div class="col-md-12">
    <div>
        <h3 style="border-bottom: 1px solid;margin-right: 15%">50 Server</h3>

        <button (click)="clicklogin50()" class="btn btn-lg btn-info" style="margin:0 0 1% 0" >login</button>
        <button (click)="clickallconnectunit50()" [disabled]="!loggedin50" class="btn btn-lg btn-default" style="margin:0 0 1% 1%">All connect units</button>
        <!--<div class="alert alert-danger" style="margin-left: 1%; margin-right: 10%; width: 25%;" role="alert" [hidden]="!showalert">-->
            <!--<strong>Oh snap!</strong> {{message}}.-->
        <!--</div>-->
        <!--<div class="alert alert-success" style="margin-left: 1%; margin-right: 10%; width: 25%;" role="alert" [hidden]="!showsuccess">-->
            <!--<strong>God Job!</strong> {{message}}!-->
        <!--</div>-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="table-responsive" style="border-bottom: 1px; margin-left: 3%; margin-right: 10%" [hidden]="!showunits50form">
        <table class="table">
            <thead>
            <tr>
                <th>S.No.</th>
                <th>Unit ID</th>
                <th>Label</th>
                <th>Cluster</th>
                <th>Status</th>
                <th>Owner</th>

                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let userData of allcnntdunitlist  ; let i = index; trackBy: userId">
                <td>{{i+1}}</td>
                <td>{{userData.unitId}}</td>
                <td>{{userData.label}}</td>
                <td>{{userData.cluster}}</td>
                <td>{{userData.status}}</td>
                <td>{{userData.owner}}</td>

                <td>
                    <a [routerLink]="['/userDetails/',userData.Username]" [queryParams]="{username:userData.Username}" class="btn btn-primary">Detail</a>
                    <a [routerLink]="['/edit/',userData.Username]" class="btn btn-success">Edit</a>
                    <a class="btn btn-danger" (click)="deleteUser(userData._id)">Delete</a>
                </td>
            </tr>

        </table>
    </div>
</div>

<div class="col-md-12">
    <div>
        <h3 style="border-bottom: 1px solid;margin-right: 15%">60 Server</h3>

        <button (click)="clicklogin60()" class="btn btn-lg btn-info" style="margin:0 0 1% 0" >login</button>
        <button (click)="clickallconnectunit60()" class="btn btn-lg btn-default" [disabled]="!loggedin60" style="margin:0 0 1% 1%">All connect units</button>
        <button class="btn btn-lg btn-default" [disabled]="!loggedin60" style="margin:0 0 1% 1%">TBD</button>
        <!--<div class="alert alert-danger" style="margin-left: 1%; margin-right: 10%; width: 25%;" role="alert" [hidden]="!showalert">-->
        <!--<strong>Oh snap!</strong> {{message}}.-->
        <!--</div>-->
        <!--<div class="alert alert-success" style="margin-left: 1%; margin-right: 10%; width: 25%;" role="alert" [hidden]="!showsuccess">-->
        <!--<strong>God Job!</strong> {{message}}!-->
        <!--</div>-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="table-responsive" style="border-bottom: 1px; margin-left: 3%; margin-right: 17%" [hidden]="!showunits60form">
        <table class="table">
            <thead>
            <tr>
                <th>S.No.</th>

                <th>Unit ID</th>
                <th>IP address</th>
                <th>Primary iface</th>
                <th>Status</th>
                <th>Build version</th>
                <th>Sensor board version</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let userData of allcnntdunitlist  ; let i = index; trackBy: userId">
                <td>{{i+1}}</td>
                <td>{{userData.unitId}}</td>

                <td>{{userData.attrInfo.networkInfo.unitIp}}</td>
                <td>{{userData.attrInfo.networkInfo.primary_iface}}</td>
                <td>{{userData.status}}</td>
                <td>tbf</td>
                <td>tbf</td>
                <td>
                    <a [routerLink]="['/userDetails/',userData.Username]" [queryParams]="{username:userData.Username}" class="btn btn-primary">Detail</a>
                </td>
            </tr>

        </table>
    </div>
</div>
<script> </script>