<div class="row">
    <div class="col-md-12">
        <h3>User Detail</h3>
        <br />
    </div>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>S.No.</th>
                <th>UserName</th>
                <th>Skill</th>
                <th>Project</th>
                <th>Admin</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let userData of UserDetails  ; let i = index; trackBy: userId">
                <td>{{i+1}}</td>
                <td>{{userData.Username}}</td>
                <td>{{userData.Skill}}</td>
                <td>{{userData.Project}}</td>
                <td>{{userData.admin}}</td>
                <td>{{userData.Password}}</td>

            </tr>

        </table>
    </div>
</div>