<div [hidden]="isHiden()" class='main-nav' id="menu-bar">
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a  class='navbar-brand' id="menu-bttn">Menu</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/gateway']">
                        <span class='glyphicon glyphicon-tasks'></span> Gateway
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/userAdmin']" [ngClass]="getActived()">
                        <span class='glyphicon glyphicon-user'></span>  User Admin
                    </a>
                </li>
                <li>
                    <a (click)="clicked()">
                        <span class='glyphicon glyphicon-log-out'></span> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
